
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
<table>
    @foreach (var b in ViewBag.Products)
    {
    <tr>
        <td><p>@b.Id</p></td>
        <td><p>@b.Name</p></td>
        <td><p>@b.Price</p></td>
    </tr>
    }
</table>